body{
    margin: 0;
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.terminal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color: black;
        font-family: itc-avant-garde-gothic-pro,sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    
    .shapes-2 {
        margin: 10%;
        width: 40px;
        height: 40px;
        background:rgb(172, 174, 173);
        clip-path: polygon(0 0,100% 0,100% 100%);
        animation: sh2 2s infinite cubic-bezier(0.3,1,0,1);
    }
    @keyframes sh2 {
    25%  {background:rgb(146, 175, 156); clip-path: polygon(0    0,100% 0   ,0 100%)}
    50%  {background:rgb(156, 157, 174); clip-path: polygon(0    0,100% 100%,0 100%)}
    75%  {background:rgb(171, 156, 160); clip-path: polygon(100% 0,100% 100%,0 100%)}
    100% {background:rgb(179, 171, 158); clip-path: polygon(100% 0,100% 100%,0 0   )}
    }

    .links a{
        text-decoration: none;
    }
}